@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
} 
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .spin {
    animation: spin 40s linear infinite;
  }
  
  @layer base{
    body {
      background-color: beige;
    }
  }
  
  .slick-slide > div {
    margin: 0 10px;
  }
  
  .slick-dots li.slick-active button:before {
    color:orange !important;
  }